/*General CSS Classes*/
.squareBtn {
  height: 2em;
  width: 2em;
  font-size: 5vh;
}

.marginTop {
  margin-top: 10%;
}

.marginRight {
  margin-right: 5vw;
}

.rightAlign {
  text-align: right;
}

.width20 {
  width: 20%;
}

.removeBrdr {
  border: none;
}

/*CSS for App.js*/
.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

/*CSS for ChooseComponent.js*/
.btnTable td {
  padding: 0.9em;
  border-bottom: none;
  border-right: none;
}

.tinyBtn {
  height: 8vh;
  width: 8vh;
  font-size: 1em;
}

/*CSS for Table.js*/
.leftAlign {
  text-align: left;
  padding-left: 1em;
}

.tableAlign {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.lastRow {
  border-bottom: none;
}

.result {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*CSS for TableEditor.js*/
.tinyBtn {
  height: 1.5em;
  width: 1.5em;
  font-size: 0.8em;
  justify-items:"center";
}

.borderFix {
  border-right: none;
  border-top: 1px solid white;
}

.h1Input {
  font-weight: 300;
  font-size: 12vh;
  line-height: 12vh;
  text-align: center;
}

.thInput {
  font-size: 3vh;
  font-weight: 600;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}
