/*General CSS Classes*/
.squareBtn {
  height: 2em;
  width: 2em;
  font-size: 5vh;
}

/*CSS for App.js*/
.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

/*CSS for ChooseComponent.js*/
.btnTable td {
  padding: 0.9em;
  border-bottom: none;
}

.btnTable td:nth-child(odd) {
  border-right: none;
}

/*CSS for CreateComponent.js*/
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

/*CSS for Table.js*/
.leftAlign {
  text-align: left;
  padding-left: 1em;
}

.tableAlign {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.lastRow {
  border-bottom: none;
}

.result {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*CSS for TableCreator.js*/
.tinyBtn {
  height: 1.5em;
  width: 1.5em;
  font-size: 0.8em;
  justify-items:"center";
}

.h1Input {
  font-weight: 300;
  font-size: 12vh;
  line-height: 12vh;
  text-align: center;
}

.thInput {
  font-size: 3vh;
  font-weight: 600;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
}
