* {
  color: white;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55)
  ), url("../assets/space-1569133_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 300;
  font-size: 12vh;
  line-height: 10vh;
  text-align: center;
}

p {
  margin: 8vh 0;
  padding: 0 10vw;
  text-align: center;
  font-weight: 200;
  font-size: 3vh;
}

button {
  background-color: rgba(0, 0, 0, 0);
  height: 8vh;
  width: 15vw;
  font-size: 3vh;
  text-align: center;
  border: 1px solid white;
  background-position: center;
  transition: background 0.5s;
}

button:hover {
  background: rgba(218, 218, 218, 0.1) radial-gradient(circle, transparent 0.5%, rgba(218, 218, 218, 0.1) 1%) center/15000%;
}

button:active {
  background-color: rgba(218, 218, 218, 0.1);
  background-size: 100%;
  transition: background 0s;
}
